
section .contact-me::after{
   content: '';
   display: block;
   clear: both;
}
section .contact-me .left{
    width: 30%;
    float: left;
}
section .contact-me .left .card{
    border: 1px solid #ccc;
    padding: 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem;
}

section .contact-me .left .card .icon i{
    font-size: 2rem;
    margin-right: 15px;
}



section .contact-me .right{
    width: 65%;
    float: left;
    margin-left: 5%;
    border: 1px solid #ccc;
    padding: 1rem;
}

section .contact-me .right .form-group{
   margin-bottom: 1.25rem;
}

section .contact-me .right .form-group label{
    display: block;
    margin-bottom: 0.85rem;
 }

 section .contact-me .right .form-group input{
    width: 100%;
    padding: 0.625rem;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 10px;
 }

 section .contact-me .right .form-group input:focus,
 section .contact-me .right .form-group textarea
 {
 border: 1px solid #719ece;
 box-shadow: 0 0 10px #719ece ;
 }


 section .contact-me .right .form-group textarea{
    width: 100%;
    height: 300px;
    outline: none;
    resize: none;
    padding: 0.625rem;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 10px;
 }
 section .contact-me .right button{
    width: 100%;
    padding: 1rem;
    background-color: #f78b00;
    border:none;
    color: #ccc;
 }


/* padding: 1rem; 내부패딩 
 display: flex; 나란히
    align-items: center; 수직방향 가운데 
 resize: none; 사용자가 텍스트 박스 크기 조절 못하게 
box-shadow: 0 0 10px #719ece ; x,y 그림자 번짐정도 색상 

*/

