*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a, a:link, a:visited{
    color: inherit;
    text-decoration: none;
}
li{
    list-style: none;
}
header{
    top: 0;
    z-index: 1;
    width: 100%;
    padding: 1rem;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
header nav ul{
    justify-content: space-between;    
    display: flex;
    justify-content: center;
    width: 100%; 
}
header nav ul li{
    padding-right: 70px;
}

header button{
    background: transparent;
    border: 0;
    cursor: pointer;
    font-family: "Do Hyeon", sans-serif;
    font-weight: 100;
    font-style: normal;
    align-content: center;
    font-size: 18pt;
}.ctn{
    display: flex; /* Flexbox 사용 */
    justify-content: space-between; /* 아이템을 좌우로 균등하게 배치 */
}div .rs{/*리워드 선택(reworld selector)*/
    display: flex;
    padding-top: 10px;
}.box {
    width: 120px; /* 박스의 너비 */
    height: 50px; /* 박스의 높이 */
    margin: 10px; /* 박스 간격 */
    background-color: white; /* 박스 색상 */
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
    margin: 0;
    border: 1px solid black;
}.btn{
    width: 150px;
    height:35px;
}.bigbtn{
    width: 300px;
    height:50px;
}.rewardbtn{
    width: 150px;
    height:50px;
    background-color: none;
    border: solid black 1px;
}.item1{
    padding-top: 10%;
    padding-left:25%; /* 아이템 안쪽 여백 */
    text-align: center; /* 텍스트 중앙 정렬 */      
    align-items: center;
}.item2{
    padding-top: 8%;
    padding-right:25%; /* 아이템 안쪽 여백 */
    text-align: center; /* 텍스트 중앙 정렬 */  
    align-items: center;
}.p1{
    text-align: left
}h4{
    text-align: left;
}h2{
    text-align: left;
}.button {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid black;
    cursor: pointer;
    transition: background-color 0.01s;
}

/*리워드 선택 버튼*/
.button.active {
    background-color: rgb(152, 150, 150); /* 클릭된 버튼의 색깔 */
}
.button.inactive {
    background-color: white; /* 기본 버튼 색깔 */


/*후원정보*/
}.info{
    position: relative;
    top: -22px;
    left: -50px;
} .arrow_box {
            display: none;
            position: absolute;
            width: 250px;
            padding: 8px;
            border-radius: 8px;
            background: #333;
            color: #fff;
            font-size: 14px;
            text-align: center;
        }

        .arrow_box:after {
            position: absolute;
            margin-left: -10px;
            border: solid ;
            border-color: rgba(51, 51, 51, 0);
            border-bottom-color: #333;

        }
        .info:hover + p.arrow_box  {
              display: block;
        }
        * {
            box-sizing: border-box;
          }
          
/*모달 기능*/

          .modal {
            /* 스타일 - customize */
            background-color: rgba(0, 0, 0, 0.7);
            pointer-events: none;
            padding: 20px;
          
            /* 트랜지션 효과 */
            transition: opacity 0.3s ease-in-out;
            opacity: 0;
          
            /* 화면 전체를 덮게하는 코드 */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          
            /* 중앙에 오게하는 코드 */
            display: flex;
            justify-content: center;
            align-items: center;
          }
          
          .modal-content {
            /* 스타일 - customize */
            max-width: 500px;
            width: 50%;
            height: 500px;
            background-color: white;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          
            /* 트랜지션 효과 */
            opacity: 0;
            transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
          
            transform: scale(0.8);
          }
          
          .modal.show {
            /* 모달이 열렸을 때 보여지게 하는 코드 */
            opacity: 1;
            pointer-events: auto;
          }
          
          .modal.show .modal-content {
            /* 모달이 열렸을 때 보여지게 하는 코드 */
            opacity: 1;
            transform: scale(1);
          }
          
          .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
          }
          
          .close:hover {
            color: black;
          }
          
